<div class="progress">
    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0"
        aria-valuemax="100">0%</div>
</div>
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/images/first-vector.jpg" width="120" height="120" alt="logo">
    <form action="/first-session" method="post" autocomplete="off">
        <div class="input-group mb-4">
        <input type="text" name="answer" class="form-control" required placeholder="Enter your answer here..">
    </div>
    <div class="col-lg-6 mx-auto">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <input type="submit" class="btn btn-success btn-lg px-4 gap-3" value="Continue" >
        </div>
    </div>
    </form>   
</div>  