<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0"
        aria-valuemax="100">0%</div>
</div>
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/images/hunt_pic.jpg" width="110" height="110" alt="logo">
    <h1 class="display-5">Welcome Farookian's</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead display-6 mb-4 fw-bold">Let's hunt !!</p>
        <form action="/start" method="post">
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <input type="hidden" name="answer" value="something">
            <input type="submit" class="btn btn-success btn-lg px-4 gap-3" value="Start"> 
        </div>
        </form>
       <p class="text-muted mt-5"><strong>msf Farook College</strong></p>
    </div>
</div>
