<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
        style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
</div>
<div class="px-4 py-5 my-4 text-center">
    <video class="d-block mx-auto mb-4" width="240" controls>
        <source src="/images/q5.mp4" type="video/mp4">
    </video>
    <form action="/fifth" method="post" autocomplete="off">
        <div class="input-group mb-4">
            <input type="text" name="answer" class="form-control" required placeholder="Enter your answer here..">
        </div>
        <div class="col-lg-6 mx-auto">
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <input type="submit" class="btn btn-success btn-lg px-4 gap-3" value="Continue">
            </div>
        </div>
    </form>
</div>