<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
    style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
</div>
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 mb-3">Congratulations!!</h1>
      <p class="col-lg-10 fs-4">You’ve cracked it✨</p>
    </div>
    <div class="col-md-10 mx-auto col-lg-5">
        <a href="https://chat.whatsapp.com/B6mLwcniMQvAao9uoGaExV" class="w-100 btn btn-lg btn-success">Join Whatsapp Group</a>
        <hr class="my-4">
      </form>
    </div>
  </div>
</div>